a {
  color: #91165a;
}

code {
  border: 1px solid  #8BC34A;
  padding: 3px 5px;
  border-radius: 7px;
  color: #DCE775;
}


blockquote {
  position: relative;
  margin: 6px 24px;
}

blockquote:before {
  position: absolute;
  top: -6px;
  left: -24px;
  padding: 6px 0;
  height: 100%;
  border-left: 1px solid #DCE775;
  content: "";
}
